# Values marked SENSITIVE should never be shared or committed.
EXPO_PUBLIC_FIREBASE_API_KEY= # SENSITIVE
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=chat-df8cf.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=chat-df8cf
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=chat-df8cf.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1063178430098
EXPO_PUBLIC_FIREBASE_APP_ID= # SENSITIVE